
.header-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:7px;
    background-color:#F55A5A;
    color: white;
    justify-content: center;
    
}
.header-title{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
}